node_modules/
blog-app/**/node_modules/

.env
.env.*

dist/
dist-ssr/
build/
coverage/

*.log
logs

*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cache/
.temp/
.tmp/